$colors: (
    common: (
        white: #ffffff,
        black: #000,
        yellow: #ffcd00,
    ),
    heading: (
        primary: #000,
    ),
    grey: (
        1:#a5a5a6,
        2:#f3f4f7,
        3: #c8c8c8,
        4: #e6dfd6,
        5: #fff3f6,
        6: #cfcfcf,
        7: #d3d3d3,
        8: #f6f6f6,
        9: #999999,
    ),
    text: (
        body:#040404,
        primary: #d51243,
        secondary: #777777,
        tertiary: #adadad,
        4: #a0a0a0,
        5: #999999,
    ),
    theme: (
        1: #3D6CE7,
        2: #f3eee7,
        3: #f7f7f7,
        4: #77977b,
        5: #8e8b74,
        6: #f8f8f8,
        7: #ededed,
        8: #f4f1ec,
        9: #83b735,
        10: #f3f4f7,
        11: #f3f7f7,
        12: #f0e2dd,
        13: #f7efec,
        14: #f58448,
    ),
    border: (
        1: #e7e7e7,
        2: #f6f6f6,
        3: #ecf0ef,
        4: #e0e0e0,
        5: #282828,
        6: #e4e4e4,
    )
);
